#admin-menu,
#admin-menu .dropdown {
    z-index: 9999999999;
}

.top-slide a {
    font-size: 13.87px !important;
}

.top-slide-modele {
    background: url(images/bg-candidature.png) no-repeat;
}

.content-page {
    float: left;
    width: 100%;
}

.top-page-content {
    max-width: 986px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin: auto;
}

.top-page-content .text-content-top {
    color: #454545;
    text-align: center;
    font-size: 20px;
    float: left;
    line-height: 24px;
    width: 100%;
    padding-left: 67px;
    padding-bottom: 128px;
}

.field-name-field-header-image {
    display: none !important;
}

.view-offre-emploi.view-display-id-page .view-filters {
    display: none;
}

.nos-offres-actualites .view-header {
    display: none
}

.conseil .field-name-body p {
    display: block !important;
}

.content-page.conseil .field-name-field-webinar-audio {
    margin: 10px 0 30px !important;
    float: left;
    clear: both;
    width: 100%;
    display: block;
}

.content-page.conseil .field-name-field-webinar-doc {
    width: 100% !important
}

.content-page.conseil .field-name-field-webinar-doc iframe {
    width: 100%;
    height: 580px;
}

.conseil-detail.orange-link a {
    padding: 11px 25px !important;
}

.mediaelement-audio {
    text-align: center !important
}

.container-espace-candidature .info-poste .form-managed-file {
    overflow: visible !important;
}

.container-espace-candidature .info-poste .form-managed-file span.file {
    position: absolute;
    bottom: -22px;
    left: 0;
    display: block !important;
    margin-top: 15px !important;
}

.container-espace-candidature .info-poste .form-managed-file input[type="submit"] {
    display: block !important;
    position: absolute;
    bottom: -25px;
    right: 0;
    width: 50px;
    height: 25px;
    padding: 0;
    min-width: 100px;
    line-height: 25px;
    font-size: 16px;
}

.container-espace-candidature .info-poste .form-managed-file {
    height: auto !important;
}

.field-label-above {
    height: 60px;
}

.field-label {
    float: left;
}

.fancybox-overlay-fixed {
    z-index: 999999 !important;
}

.fancybox-opened {
    z-index: 99999999 !important;
}

.espace-candidature.identif .identif-left .social-media {
    display: block !important;
}

.newsletter .form-wrapper label {
    margin-right: 16px;
}

.actu-job .item-offre a {
    width: auto
}

.newsletter .form-required {
    display: none !important;
}

.newsletter .form-wrapper input[type="text"] {
    width: 337px !important;
}

.calendar-calendar td a.reserved {
    background: grey !important;
}

.intro + .view-content {
    width: 100%;
}

.slider-home #owl-demo li:first-child h2 {
    font-size: 64px !important;
}

#callback-form1 .formline input {
    width: 100% !important;
}

.field-name-field-updated, .field-name-field-statut-callback {
    display: none;
}



#montceau-les-mines .btn-new, #fontenay-le-comte .btn-new{
    top: 156px;
}
.adresses-webhelp .ville img{
    width: 412px;
    margin-left: -59px;
    margin-bottom: 60px;
}
.adresses-webhelp .ville {
    width: 413px !important;
    left: 0 !important;
    height: 100% !important;
}

.webhelp-portugal .btn-back {
    top: 48px !important;
}
.webhelp-portugal .webhelp-portugal-content .leader-text {
    margin-top: 0px !important;
}

.etapes-recrutement .nav-tabs .tab3 {
      right: 0;
      position: absolute; }
    .etapes-recrutement .nav-tabs .tab2 {
      position: absolute;
      left: 296px; } 
      
      
      
      
.container-espace-candidature.edition .info-poste #edit-field-region {
    margin-top: 0px !important;
}

.form-item, .form-actions {
	margin-top: 0 !important
}
.info-poste .form-item {
	margin-top: 20px;
}
.info-poste .form-item:first-child {
	margin-top: 0 !important
}