.login {
  background: #141414; }
  .login #wrapper,
  .login #content {
    height: 100%; }

.box-login {
  background: #fff;
  overflow: hidden;
  padding: 20px 30px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .fancybox-inner .box-login {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    top: 0; }
  .box-login .content-form {
    margin-top: 30px; }
  .box-login .identif-left {
    margin-top: 30px; }
    .box-login .identif-left p {
      font-size: 25px; }
  .box-login .caption {
    text-align: center;
    width: 100%; }
    .box-login .caption h1 {
      font-size: 0px;
      margin-bottom: 42px; }
    .box-login .caption h2 {
      color: #191919;
      font-size: 29.03px;
      margin-bottom: 55px; }
  .box-login form {
    float: right;
    width: 300px; }
  .box-login .formline {
    position: relative; }
@-moz-document url-prefix() {
  .box-login .formline {
    margin-bottom: 30px; } }
    .box-login .formline input {
      background: none;
      color: #626262;
      height: 35px;
      font-size: 18.82px;
      line-height: 35px;
      border: none;
      border-bottom: 1px solid #cccccc !important;
      display: block;
      width: 100%;
      padding-top: 55px;
      padding-bottom: 23px;
      position: relative;
      box-shadow: none;
      -webkit-appearance: none;
      -webkit-text-fill-color: #626262 !important; }
@-moz-document url-prefix() {
  .box-login .formline input {
    padding-top: 0;
    padding-bottom: 0; } }
      .box-login .formline input:valid, .box-login .formline input:focus {
        border-bottom: 1px solid #ff6319 !important; }
        .box-login .formline input:valid + label, .box-login .formline input:focus + label {
          color: #ff6319;
          top: -65px;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }
    .box-login .formline input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset; }
    .box-login .formline label {
      color: #626262;
      position: relative;
      /*top: 0;*/
      font-weight: 400;
      font-size: 18.82px;
      top: -30px; }
    .box-login .formline .forget {
      font-size: 10.54px;
      margin: -26px 0;
      text-align: right; }
      .box-login .formline .forget a {
        color: #626262; }
        .box-login .formline .forget a:hover {
          color: #ea5812;
          -webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out; }
    .box-login .formline + .formline {
      margin-top: 0px; }
    .box-login .formline.submit {
      margin-top: 64px; }
    .box-login .formline button {
      background: #ff6319;
      color: #fff;
      border: none;
      display: block;
      font-size: 13.8px;
      height: 38px;
      line-height: 38px;
      width: 100%;
      text-align: center;
      /* &:hover{
          background: #e05310; */ }
      .box-login .formline button:hover {
        background: #ea5812 !important;
        -webkit-transition: background-color 2s ease-out;
        -moz-transition: background-color 2s ease-out;
        -o-transition: background-color 2s ease-out;
        transition: background-color 2s ease-out; }
  .box-login .link {
    color: #222222;
    font-size: 13.5px;
    display: block;
    margin-top: 17px;
    text-align: center; }
    .box-login .link:hover {
      color: #ea5812;
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }
  .box-login .content-form {
    /* margin-top: -48px; */ }

.fancybox-opened .fancybox-skin {
  box-shadow: none;
  border-radius: 0; }

.fancybox-skin {
  background: #fff; }

@media (max-width: 480px) {
  .box-login {
    padding: 30px;
    width: 95%;
    top: 0;
    transform: translateY(0%); } }

/*# sourceMappingURL=login.css.map */
