/*======== Images =======*/
.image-center {
  display: block;
  margin: auto;
  margin: 0 0 10px; }

.image-left {
  float: left;
  margin: 0 40px 10px; }

.image-right {
  float: right;
  margin: 0 0 10px 40px; }

/*======== Colors =======*/
.orange {
  color: #FF6319; }

.blue {
  color: #0069A3; }

.blue-light {
  color: #33B5E2; }

.font-open-sans {
  font-family: 'Open Sans', sans-serif; }

/*======== Listings =======*/
h1,
h2,
h3,
h4 {
  float: none;
  width: 100%; }

h1 {
  margin: 0 0 60px; }

h2 {
  margin: 0 0 40px; }

h3 {
  margin: 0 0 25px; }

h4 {
  margin: 0 0 20px; }

p {
  font-size: 16px; }

.details-offre {
  padding-top: 0;
  padding-bottom: 0;
  /*======== Listings =======*/ }
  .details-offre h2 *,
  .details-offre h2 {
    color: #ff6319 !important;
    font-size: 22px !important;
    letter-spacing: .4px;
    margin: 35px 0; }
  .details-offre .top-details-offres + h2,
  .details-offre .top-details-offres + h2 span {
    padding-top: 34px;
    font-size: 20px  !important;
    color: #282828 !important;
    letter-spacing: 0.4px;
    text-align: left !important;
    line-height: 30px; }
  .details-offre ul, .details-offre ol {
    margin-left: 20px; }
  .details-offre ul li,
  .details-offre ol li {
    position: relative;
    line-height: 26px;
    list-style: none; }
    .details-offre ul li:before, .details-offre ul li:before,
    .details-offre ol li:before,
    .details-offre ol li:before {
      background: #ff6319;
      content: "";
      display: inline-block;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      position: absolute;
      left: -20px;
      top: 7px; }
  .details-offre li,
  .details-offre li span,
  .details-offre p,
  .details-offre p span {
    font-family: 'Open Sans', sans-serif !important; }

#node-body {
  margin: 110px auto !important;
  line-height: 24px;
  overflow: hidden;
  width: 100%; }
  #node-body h1 {
    float: none !important;
    color: #0069A3 !important;
    margin: 0 0 30px !important;
    font-size: 29px !important; }
    #node-body h1 + div {
      overflow: hidden; }
  #node-body .field.field-name-body.field-type-text-with-summary.field-label-hidden:before {
    margin-top: 0; }
  #node-body img {
    margin: 0 10px 10px 0;
    max-width: 100%; }
  #node-body ul {
    list-style: disc;
    list-style-position: inside; }
  #node-body p,
  #node-body p span {
    font-size: 16px !important; }

/*# sourceMappingURL=wysiwyg.css.map */
