.login {
    background: #141414;
    #wrapper,
    #content{
    	height: 100%;
    }
}

.box-login {
    background: #fff;
    height: 632px;
    overflow: hidden;
    padding: 61px 115px;
    margin: 0 auto;
    width: 488px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    //margin-top: -50%;

    .fancybox-inner & {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        top: 0;
    }
    .caption {
        text-align: center;
        h1 {
            font-size: 0px;
            margin-bottom: 42px;
        }
        h2 {
            color: #191919;
            font-size: 29.03px;
            margin-bottom: 66px;
        }
    }
    .formline {
        position: relative;
        input {
            background: none;
            color: #626262;
            height: 35px;
            font-size: 18.82px;
            line-height: 35px;
            border: none;
            border-bottom: 1px solid #cccccc;
            display: block;
            width: 100%;
            padding-top: 55px;
            padding-bottom: 23px;
            position: relative;
            box-shadow: none;

            &:valid,
            &:focus{
                border-color: #ff6319;
                + label{
                    color: #ff6319;
                    top: -60px; 
                    -webkit-transition: all 0.3s ease-out;
                    -moz-transition: all 0.3s ease-out;
                    -o-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;
                }
            } 
        }

        label{
            color: #626262;
            position: relative;
            /*top: 0;*/
            font-weight: 400;
            font-size: 18.82px;
            top: -30px;
        }

        .forget {
            font-size: 10.54px;
            margin: -26px 0;
            text-align: right;
            a {
                color: #626262;
                &:hover {
                    color: #ea5812;
                    -webkit-transition: all 0.5s ease-out;
                    -moz-transition: all 0.5s ease-out;
                    -o-transition: all 0.5s ease-out;
                    transition: all 0.5s ease-out;
                }
            }
        }

        + .formline {
            margin-top: 0px;
        }

        &.submit{
        	margin-top: 64px;
        }

        button {
            background: #ff6319;
            color: #fff;
            border: none;
            display: block;
            font-size: 13.8px;
            height: 38px;
            line-height: 38px;
            width: 100%;
            text-align: center;
            /* &:hover{
                background: #e05310; */

            &:hover {
                background: #ea5812 !important;
                -webkit-transition: background-color 2s ease-out;
                -moz-transition: background-color 2s ease-out;
                -o-transition: background-color 2s ease-out;
                transition: background-color 2s ease-out;
            }
        }
    }

    .link {
        color: #222222;
        font-size: 13.5px;
        display: block;
        margin-top: 17px;
        text-align: center;
        text-decoration: underline;
        &:hover {
            color: #ea5812;
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
        }
    }
    .content-form{
        /* margin-top: -48px; */
    }
}


@media (max-width: 480px) {
	.box-login{
		padding: 30px;
		width: 95%;
	    top: 0;
		transform: translateY(0%);
	}
}