.slide-pages {
    float: left;
    width: 100%;
    nav {
        //width: 78%;
        /* margin-top: 10px; */
        padding-top: 37px;
    }
    .collapse {
       // padding-right: 0;
        //padding-left: 31px;
        .main-menu{
            li{
                //margin-right: 8px;
                &:last-child{
                    //margin-right: 0;
                } 
            }
        }
    }
    .espace-membre {
        //float: right;
        //margin-right: -15px;
        //margin: -12px 0 0;
        /* li {
            float: none;
            a {
                padding: 13px 9px;
                width: 172px;
                text-align: center;
                height: 46px; 
                span{
                    display: inline-block;
                    vertical-align: top;
                    float: none;
                }
            }
        } */
    }
    .top-slide {
        position: static;
        background-size: cover;
        float: left;
        width: 100%;
    }
    .top-slide-avantages {
        background: url("images/bg-avantages.png");
        background-size: cover;
        a {
            font-size: 13.87px;
        }
    }
    /* .content-top-slide {
        max-width: 1190px;
    } */
    .titre {
        padding-top: 99px;
        padding-bottom: 222px;
        float: left;
        width: 100%;
        h1 {
            color: #fff;
            font-size: 80px;
            font-weight: 600;
        }
    }
}

.avantages {
    padding-top: 93px;
    float: left;
    width: 100%;
    background: url("images/bg-content.png") repeat-x;
    background-size: cover;

    .container-avantages {
        margin: 0 auto;
        max-width: 1140px;
        padding-left: 36px;
    }

    h4 {
        &.actives{
            color: $primay-blue;
            margin-bottom: 3px; 
        }
    }
    .text {
        font-size: 22px;
        color: #222222;
        width: 764px;
        margin: auto;
        line-height: 27px;
    }
    .avantages-items {
        margin-top: 60px;
        padding-bottom: 74px;
        margin-left: -15px;
        .panel-group .panel + .panel {
            margin-top: 9px;
        }
    }
    .content-avantages-item {
        background: #fff none repeat scroll 0 0; 
        height: 259px;
        margin: 0 0 0 125px;
        padding: 20px;
        width: 817px;

        + .content-avantages-item {
            margin-top: 18px;
        }

        .img-avantages1 {
            //width: 43.5%;
            float: left;
        }
        .img-avantages2 {
            float: right;
            //width: 45%;
            /* padding-left: 14px;
            padding-top: 2px; */
        }
        .text-avantages1 {
            float: left;
            width: 51.4%;
            padding-top: 28px;
            /* padding-right: 52px;
            letter-spacing: 0.2px; */
            padding-left: 47px;
        }
        .text-avantages2 {
            float: left;
            width: 52.4%;
            padding: 26px 16px 0 37px;
            h4 {
                padding-top: 5px;
                padding-bottom: 10px;
            }
        }
        .text-avantages {
            h4 {
                font-size: 22px;
                color: $primay-blue;
                padding-bottom: 12px;
            }
            p ,
            li {
                font-size: 15px;
                color: #212121;
                line-height: 17.63px;
                position: relative;
            }

            li{
                &:before{
                    background: #20b2ff;
                    content: "";
                    display: inline-block;
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                    position: absolute;
                    left: -20px;
                    top: 7px;
                }                
            }
        }
    }

    .box-list{
        .content-avantages-item {
            height: auto;
            margin-left: 0;
            margin:0 0 35px 0;
            float: left;
            width: 517px;

            &:nth-child(2n){
                margin-left: 38px;
            }
            
            .text-avantages h4{
                margin-bottom: 27px;
                padding: 0;
            }

            .img-avantages2{
                float: left;
            }

        }
    }
    #collapseOne{
        .grow.pic{
            width: 346px;
            img{
                width: 346px;
                height: 218px;
            }
        }
    }

    #collapseTwo{
        .grow.pic{
            width: 211px;
            img{
                width: 211px;
                height: 181px;
            }
        }
    }
}

.panel-body {
    border-top: none !important;
}

.panel {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-default {
    border-color: transparent;
}

.panel-default > .panel-heading {
    background: transparent;
    h4 {
        font-size: 22px;
        span {
            color: $primay-blue;
        }
        &:hover{
            color: $primay-blue;
            -webkit-transition: color 0.5s ease-out;
            -moz-transition: color 0.5s ease-out;
            -o-transition: color 0.5s ease-out;
            transition: color 0.5s ease-out;
        }
    }
}

.footer-bottom-pages {
    padding-top: 16px !important;
    margin-top: -33px;
}

