.slide-pages {
    .top-slide-conseil {
        background: url("images/bg-conseil.png");
        background-size: cover;
        a {
            font-size: 13.87px;
        }
    }
}

.content-box-gray {
    max-width: 1103px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.wrapper-box-gray {
    background: url("images/bg-offres-item.png") repeat;
    /* float: left;
    width: 100%; */
    margin-bottom: 33px;
    overflow: hidden;
    clear: both;
}

.nos-conseil-rh {
    .top-bloc-newsletter {
        width: 943px;
        margin: auto;
        float: none !important;
    }
    .conseil-rh {
        float: left;
        padding-top: 84px;
    }
    .text {
        width: 73%;
        /* position: absolute;
        top: 23%; */
        margin-top: -18px;
        display: inline-block;
        vertical-align: middle;
        padding: 20px 0;
    }
    .voir-plus{
        padding-top: 53px;
        padding-bottom: 34px;
    }
    .newsletter-link{
        padding: 11px 35px;
    }
    p{
        letter-spacing: .2px;
    }
    .grow.pic img {
        width: 311px;
        height: 212px;
    }
    .grow.pic{
        width: 311px;
    }
    .content-newsletter{
        margin-top: 72px !important;
    }
}

.details-box {
    width: 24%;
    float: none;
    padding-top: 2px;
    /* float: right;
    margin-right: 29px;*/

    display: inline-block;
    vertical-align: middle;
}

.img-box {
    display: inline-block;
    float: none;
    margin-right: -4px;
    vertical-align: middle;
    img {
        max-width: 100%;
    }
}

.text-box-img {
    padding: 0 0 0 30px;
    width: 752px !important;
    /* min-height: 212px; */
}

.text-box-gray {
   background: url("images/bg-offres-item.png") repeat-x;
    background-size: cover;
    /* float: left; */
    width: 83%;
    padding: 0 0 0 28px;
    height: auto;
    position: relative;


    display: inline-block;
    vertical-align: middle;
    h5 {
        color: #07659a;
        font-size: 22px;
        margin-top: 11px;
    }
    p {

        font-size: 14px;
        color: #2d2d2d;
        margin-top: 6px;
        line-height: 16px;
    }
    .plus-details {
        padding: 10.5px 54px;
    }
}
.grow.pic img{
    max-width: 100%;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    transition: all 2s;
}
.grow.pic{
    position: relative;
    overflow: hidden;


    &:hover{
        img{
            -moz-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
        }
    }
}

