.slide-pages {
    .top-slide-offres {
        background: url("images/bg-offres-slide.png");
        background-size: cover;
        a {
            font-size: 13.87px;
        }
    }
}

.nos-offres-actualites {
    float: left;
    width: 100%;
    background: url("images/bg-content-offres.png") repeat-x;
    background-size: cover;
    padding-bottom: 45px;
    .content-offres-actualites {
        max-width: 996px;
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
        .trouver-emploi {
            margin-top: 93px;
            margin-bottom: 84px;
            background: url("images/bg-trouver-emploi.png");
            background-size: cover;
            h3 {
                color: #202020;
                font-size: 23.58px;
                padding-top: 41px;
            }
            form {
                width: 646px;
                margin: 24px auto 0 auto;
                .form-control {
                    width: 50%;
                }
                select {
                    padding-left: 28px;
                    border-radius: 0;
                    height: 49px;
                    border: 0;
                    box-shadow: none;
                    font-size: 20.86px;
                    font-family: "open_sanslight";
                    background: url("images/icon-select.png") #fff no-repeat 94% 53%;
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -ms-appearance: none;
                    -o-appearance: none;
                    -khtml-appearance: none;
                }
                button {
                    height: 50px;
                    border: 0;
                    border-radius: 0;
                    background: $primay-orange;
                    padding: 0px 28px;
                    &:hover{
                        background: #e05310 !important;
                        -webkit-transition: background-color 2s ease-out;
                        -moz-transition: background-color 2s ease-out;
                        -o-transition: background-color 2s ease-out;
                        transition: background-color 2s ease-out;
                    }
                }
            }
            .text {
                font-size: 17px;
                color: #202020;
                padding-top: 20px;
                padding-bottom: 35px;
                span {
                    color: $primay-orange;
                }
            }
            .select2-container{
                width: 50% !important;
            }
        }
        .offres-actualites {
            float: left;
            padding-left: 3px;
            width: 100%;
            .offre-actualites-item {
                background: #086498;
                float: left;
                width: 99.36%;
                /*width: 99%;*/
                margin-bottom: 15.5px;
                //min-height: 145px;
                height: auto;
            }
            .text-box-gray{
                padding: 0 0 0 44px;
            }

            .voir-plus{
                padding-top: 60px;
                float: none;
                clear: both;
                margin-bottom: 20px;
                
                a{
                    margin-left: 5px;
                }
            }

            .ville-offre,
            .type-actualite,
            .text-offres-actualites {
                display: inline-block;
                vertical-align: middle;
                float: none;
            }
            .ville-offre,
            .type-actualite {
                background: #086498;
                width: 17.002%;
                //float: left;
                //min-height: 145px;
                height: auto;
                p {
                    font-size: 21.05px;
                    color: #fff;
                    text-transform: capitalize;
                    //padding-top: 43px;
                    //padding-bottom: 44px;
                    &:before {
                        content: '';
                        background: url("images/marker-blue.png") no-repeat;
                        width: 20px;
                        height: 27px;
                        display: block;
                        margin: auto;
                    }
                }
            }
            .type-actualite {
                text-align: center;
            }
            .text-offres-actualites {
                //float: right;
                width: 83%;

               /* min-height: 145px;
                line-height: 135px;*/
                margin-left: -4px;

                h5 {
                    color: #07659a;
                    font-size: 22px;
                    line-height: normal;
                }
                p {
                    font-size: 14px;
                    color: #2d2d2d;
                    margin-top: 6px;
                    line-height: 16px;
                }
                .plus-details {
                    color: #fff;
                    text-transform: capitalize;
                    background: $primay-orange;
                    font-size: 16.16px;
                    padding: 10.5px 54px;
                    float: right;
                    line-height: normal;
                }

                .poste{
                    padding: 15px 0 31px;
                    width: 71.5%;
                    line-height: normal;
                }

                .poste{
                    float: none;
                    display: inline-block;
                    vertical-align: middle;
                }

                span.date{
                    color: #ff6319;
                    font-size: 15px;
                }
            }
        }
        .details-offres-actualites {
            padding-right: 29px;
            float: right;
            width: 45%;
            position: absolute;
            right: 0;
            top: 34%;

            .poste {
                width: 55%;
                //float: left;
                margin: 30px 0;
                display: inline-block;
                vertical-align: middle;
            }

            .details-offres-actualites {
                padding-right: 29px;
                //float: left;
                width: 45%;
                //padding-top: 31px;
                margin-left: -4px;
                display: inline-block;
                vertical-align: middle;
            }
   
            .voir-plus {
                text-align: center;
                float: left;
                margin: 68px auto 1px auto;
                width: 100%;

                a {
                    color: #fff;
                    font-size: 16.16px;
                    font-family: $os_regular;
                    background: $primay-orange;
                    padding: 11px 56px;
                    &:hover,
                    &:active,
                    &:focus {
                        background: #ea5812;
                    }
                }
            }
        }
    }
    .form-wrapper .select2-container ~ .select2-container{
        margin-left: 0;
    }
}


/* .text-offres-actualites{
    background: url("images/bg-offres-item.png") repeat-x;
    background-size: cover;
    float: left;
    width: 83%;
    padding: 0 0 0 45px;
    min-height: 145px;
    height: auto;
    position: relative;

    h5{
      font-family: $os_regular;
      color: #07659a;
      font-size: 22px;
      margin-top: 11px;
    }

    p{
      font-family: $os_regular;
      font-size: 14px;
      color: #2d2d2d;
      margin-top: 6px;
      line-height: 16px;
    }

    .plus-details{
      color: #fff;
      text-transform: capitalize;
      background: $primay-orange;
      font-size: 16.16px;
      font-family: $os_regular;
      padding: 10.5px 54px;
      float: right;
    }
}
.poste{
width: 55%;
float: left;
position: absolute;
top: 17%;
}  */
