#carousel-stories {
    display: none !important;
    .carousel-indicators {
        display: none;
    }
}

.owl-carousel div h2,
.owl-carousel div .textoverlay {
    position: absolute;
    color: #FFF;
    font-size: 12px;
    display: block;
}

.top-slide-talent {
    background: url("images/bg-talent.png") no-repeat;
    background-size: cover;
    a {
        font-size: 13.87px !important;
    }
}

.talent-manager-content {
    float: left;
    margin: auto;
    width: 100%;
    .top-talent-manager {
        padding-top: 79px;
        max-width: 986px;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        margin: auto;
        .img-talent-manager {
            width: 251px;
            float: left;
            padding-left: 4px;
        }
        .text {
            color: #454545;
            font-size: 20px;
            float: left;
            line-height: 24px;
            width: 658px;
            padding-left: 67px;
            padding-top: 35px;
            padding-bottom: 128px;
            span {
                color: #8f2380;
                font-size: 31px;
            }
        }
        .text-manager {
            float: left;
            width: 100%;
            position: relative;
            &:before {
                content: "";
                background: url(images/img-question.png) no-repeat;
                display: table;
                width: 124px;
                height: 186px;
                margin: auto;
                /* float: left; */
                position: absolute;
                left: 0;
                right: 40px;
                bottom: -49px;
            }
            p {
                font-size: 28.3px;
                font-style: italic;
                color: #454545;
                line-height: 32px;
                span {
                    color: #8f2380;
                }
            }
        }
    }
}

.success-stories {
    float: left;
    width: 100%;
    .content-stories {
        margin-top: 110px;
    }
    .bxslider-stories {
        li{
            margin-bottom: 0 !important;
        }
        .text-success-slider {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            h3 {
                padding-top: 66px;
                padding-bottom: 5px;
                font-size: 40px;
                color: #fff;
            }
            .debut-storie {
                font-weight: 300;
                font-size: 18px;
                padding-bottom: 7rem;
                color: #fff;
            }
            .content-storie {
                font-style: italic;
                font-size: 27px;
                max-width: 849px;
                width: 100%;
                padding-left: 20px;
                padding-right: 20px;
                margin: auto;
                color: #fff;
                line-height: 37px;
            }
            .name {
                text-transform: capitalize;
                font-size: 30px;
                padding-top: 32px;
                padding-bottom: 8.5rem;
                color: #fff;
            }
        }
        li {
            img {
                width: 100%;
            }
        }
    }
    .bx-wrapper {
        position: relative;
        border: 0;
        background: transparent;
        box-shadow: none;
        margin-bottom: -108px;
    }
    #bx-pager {
        position: relative;
        text-align: center;
        top: 56px;
        left: -11px;
        //margin-left: -98px;
        a {
            position: relative;
            display: inline-block;
            //padding: 0 5px;
            border-radius: 50%;
            /* height: 101px;
            width: 101px; */
            transition: all 1s;
            margin: 0 38px 0 0;
            height: 77px;
            width: 77px;

            &:last-child{
                margin-right: 0;
            }

            &:before {
                content: '';
                background: #fff;
                border-radius: 50%;
                height: 75px;
                width: 75px;
                position: absolute;
                opacity: 0.5;
                z-index: 99;
                top: 2px;
                left: 0px;
            }

            &.active,
            &:hover { 
                height: 101px;
                width: 101px; 
                &:before {
                    content: none !important;
                }
                img {
                    width: 101px;
                    height: 101px;
                }
            }
        }
        img {
            border-radius: 50%;
            border: 3px solid #fff;
            width: 77px;
            height: 77px;
            display: inline-block;
            vertical-align: middle;
            &:hover {}
        }
    }
}

.avantages-webhelp {
    float: left;
    width: 100%;
    padding-top: 105px;
    margin-top: 0;
    padding-bottom: 103px;
    background: url(images/bg-tm-avantages.png) repeat-x;
    background-size: cover;

    .content-avantages-webhelp {
        max-width: 943px;
        margin: auto;
        padding-right: 10px;
        padding-left: 10px;
        width: 100%;
        h2 {
            font-size: 35px;
            color: #bd2aa5;
            padding-bottom: 36px;
        }
    }
    .avantages-tabs {
        padding-top: 30px;
    }
    .navigation-tabs {
        padding-bottom: 35px;
        ul {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
        img {
            display: block;
            margin: 12px auto 0 5px;
        }
        li {
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            display: inline-block;
            + li {
                margin-left: 70px;
            }
        }
        li.active {
            a {
                background: #cb29b2;
            }
        }
        a {
            height: 93px;
            width: 93px;
            border-radius: 50%;
            background: url(images/bg-icon-avantages.png) repeat-x;
        }
    }
    .avantage-part {
        font-size: 17.51px;
        .title {
            color: #cb29b2;
        }
    }
    .avantage-part1 {
        width: 50%;
        float: left;
        padding-left: 3px;
        img {
            padding-left: 32px;
            padding-bottom: 54px;
        }
    }
    .avantages-part2 {
        width: 48%;
        float: left;
        padding-top: 63px;
        padding-left: 21px;
        p {
            line-height: 20px;
        }
        .title {
            padding-bottom: 8px;
        }
    }
    .tab-content {
        background: #e7e7e7;
        padding: 18px 18px 18px 29px;
        h3 {
            font-size: 46.27px;
            color: #a52691;
        }
        p {
            color: #2c2c2c;
            font-size: 15px;
            line-height: 19px;
        }
    }
    .icon-collaboration {
        display: table;
        margin: auto;
    }
    .icon-service {
        float: right;
    }
}

.nav-tabs {
    border-bottom: none;
    li {
        margin-bottom: 0;
    }
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: none;
}

.nav-tabs > li > a {
    border: none;
}

a {
    outline: 0 !important;
}
