.top-slide-respect {
    background: url(images/bg-respect.png);
    background-size: cover;
    a {
        font-size: 13.87px !important;
    }
}

.content-respect {
    padding-top: 74px;
    background: url(images/bg-content-respect.png);
    background-size: cover;
    float: left;
    width: 100%;
    .content-top-respect {
        max-width: 1105px;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .img-entreprise-responsable {
        float: left;
        padding-left: 4px;
        width: 262px;
    }
    .text {
        float: left;
        width: 791px;
        padding-left: 27px;
        line-height: 25px;
    }
    .top-respect {
        float: left;
        width: 100%;
        .text {
            padding-top: 18px;
            line-height: 26px;
            p { 
                font-size: 22px;
                color: #222222;
                line-height: 24px;
                padding-left: 2px;
            }
        }
    }
}

.entreprise-responsable {
    padding-top: 42px;
    padding-bottom: 3px;
    float: left;
    width: 100%;
    > p {
        color: #66a32a; 
        font-style: italic;
        font-size: 30px;
        width: 430px;
        margin: auto;
        line-height: 32px;
        padding-bottom: 79px;
    }

    .respect-items {
        max-width: 892px;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
        .content-hover{
            position: absolute;
            top: -18px;
            left: -34px;
        }
        .respect-item-content{
            position: relative;
            width: auto;
            height: 360px;
            float: left;
        }
        .respect-content-bottom{
            .inner-hover{
                padding-top: 127px;
            }
            .respect-item-hover{
                top: -48px;
                &:before{
                    -ms-transform: rotate(180deg); /* IE 9 */
                    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
                    transform: rotate(180deg);
                }
            }
        }
        .soucieux-partenaires-content{
            left: 16.3%;
            bottom: 115px;
        }
        .equite-meritocratie-content{
            left: 17.4%;
            bottom: 115px;
        }
    }

    .respect-item {
        position: relative;
        float: left;
        z-index: 0;
        color: #fff;
        width: 253px;
        height: 360px;
        margin-left: 1.4em;

        &.voix-compte{
          margin-left: 29px;
        }

        &.egalite-chance{
          margin-left: 32px;
        } 
        .inner {
            text-align: center;
            width: 180px;
            margin: 144px auto 0 auto;
            line-height: 31px;
        }
        span { 
            font-size: 24px;
            color: #fff;    
            display: block;
            line-height: 28px;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 253px;
            height: 360px;
            background-size: 100%;
        }

    
    }
    .environnement {
        &:before {
            background: url(images/bg-environnement.png) no-repeat;
        }
    }
    .voix-compte {
        &:before {
            background: url(images/bg-voix-compte.png) no-repeat;
        }
    }
    .egalite-chance {
        &:before {
            background: url(images/egalite-chance.png) no-repeat;
        }
    }
    .soucieux-partenaires {
        position: relative;
        &:before {
            background: url(images/soucieux-partenaires.png) no-repeat;
        }
        .inner{
          margin-top: 156px;
        }
    }
    .equite-meritocratie {
        position: relative;
        &:before {
            background: url(images/equite-meritocratie.png) no-repeat;
        }
        .inner{
          margin-top: 156px;
        }
    }
    .respect-item-hover{
         width: 359px;
         height: 429px;
         position: relative;
         /*display: none;*/
        h6{
            font-size: 20px;
            color: #66a32a;
            text-align: center;
            padding-bottom: 23px;
        }
        .inner-text{
            height:135px;
            //overflow: auto;
            margin: auto;
            width: 240px;


            .nano { 
            height:140px;
            overflow: auto;
            margin: auto;
            width: 230px; }
            .nano .nano-content { padding: 10px; }
            .nano .nano-pane   { background: #888; }
            .nano .nano-slider { background: #111; }

            p{
                font-size: 17px;
                color: #fff;
                line-height: 20px;
            }
        }

        &:before{
            background: url(images/hover-respect.png) no-repeat;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 359px;
            height: 429px;
            background-size: 100%;
            z-index: 99999;

        }
        .inner-hover{
            padding-top: 78px;
            position: relative;
            z-index: 999999;
            margin: auto;
        }
    }
}

.respect-item-content:nth-child(1) {
    .respect-item-hover{
        .inner-text{
            position: relative;
            left: 25px;
        }
        h6{
            padding-top: 18px;
        }
    }

}
.respect-item-content:nth-child(2){
    .respect-item-hover{
        .inner-text{
            position: relative;
            left: 25px;
            top: 4px;
        }
        h6{
            padding-left: 16px;
            letter-spacing: -.3px;
        }
    }
    .content-hover{
        left: -27px;
    }
}
.respect-item-content:nth-child(3){
    .content-hover{
        left: -43px;
    }
    .inner-text{
        position: relative;
        left: 18px;
        top: 4px;
    }
    h6{
        letter-spacing: -.8px;
    }
}
.respect-item-content:nth-child(4){
    .content-hover{
        top: -1px;
        left: -24px;
    }
    .inner-text{
        position: relative;
        left: 17px;
        top: 3px;
    }
}
.respect-item-content:nth-child(5){
    h6{
        padding-top: 17px;
        letter-spacing: -.5px;
    }
    .content-hover{
        left: -32px;
        top: -1px;
    }
    .inner-text{
        position: relative;
        left: 19px;
        padding-top: 9px;
        height: 143px;
    }
}

.flip-container {
    perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

/*.flip-container, .front, .back {
    width: 320px;
    height: 480px;
}*/


.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}


.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: -1;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
    z-index: 999999;
}

