.wb-university{
  width: 100%;
  float: left;
  .content-whu{
    max-width: 1158px;
    margin: auto;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.top-slide-wb-university{
  background: url(images/bg-webhelp-university.png);
  a{
    font-size: 13.87px !important;
  }
}
.wb-university{
  float: left;
  width: 100%;
  padding-top: 62px;
  .wb-university-top{
    padding-left: 93px;
  }
  .img-whu{
    width: 134px;
    float: left;
  }
  .text-wbu{
    float: left;
    width: 736px;
    padding-top: 40px;
    padding-left: 46px;
    p{
      color: #191919;
      font-size: 22px;
      letter-spacing: .1px;
      line-height: 26px;
    }
  }
  .wb-university-top{
    float: left;
    width: 100%;
    padding-bottom: 87px;
  }
}
.etapes-formations{
  float: left;
  width: 100%;
  .top-etape-formation{
    font-size: 30px;
    color: #191919;
    &:before{
      content:  "\f111";
      font-family: FontAwesome;
      color: $primay-orange;
      font-size: 20px;
      position: relative;
      left: -7px;
      top: -2px;

    }
  }
  .etape-number{
    font-weight: 300;
    font-size: 15.77px;
    color: #fff;
    text-transform: capitalize;
    background: $primay-orange;
    width: 102px;
    height: 29px;
    border-radius: 10px;
    float: left;
    text-align: center;
    margin-right: 11px;
    line-height: 25px;
  }
  .items-formations{
    width: 600px;
    float: left;
    padding-top: 156px;
    padding-left: 23px;
  }
  .content-item-formation{
    float: left;
    width: 60%;
    &:before{
      content: '';
      background: url(images/bar-formation.png) no-repeat;
      width: 24px;
      height: 252px;
      display: block;
      float: left;
      margin-right: 33px;
    }
    .inside{
      margin-top: -83px;
    }
  }

  .item-formation{
    float: left;
    h4{
      font-size: 28px;
      color: #1983de;
      letter-spacing: .6px;
      padding-bottom: 11px;
      &:before{
        content: '';
        display: block;
        position: relative;
        left: 59px;
        padding-bottom: 83px;
      }
    }
    p{
      line-height: 18px;
    }
    &:nth-child(1){
      .etape-number{
        line-height: 26px;
        margin-top: -2px;
      }
      h4{
        &:before{
          left: 70px;
          top: -4px;
          padding-bottom: 80px;
        }
      }

    }
    &:nth-child(2){
      .etape-number{
        line-height: 28px;
        margin-top: 2px;
        padding-bottom: 13px;
      }
      h4{
        &:before{
          left: 64px;
          top: 14px;
          padding-bottom: 84px;
        }
      }
      p{
        padding-top: 2px;
      }
    }
    &:nth-child(3){
      .etape-number{
        line-height: 27px;
        margin-top: 2px;
      }
      h4{
        &:before{
          left: 60px;
          padding-bottom: 84px;
          top: 5px;
        }
      }
      p{
        padding-top: 2px;
      }
    }

  }
  .formation-initial{
    h4{
      &:before{
        background: url(images/icon-formation-initial.png) no-repeat;
        width: 65px;
        height: 65px;
      }
    }

  }
  .formation-metier{
    h4{
      &:before{
        background: url(images/icon-formation-metier.png) no-repeat;
        width: 69px;
        height: 51px;
      }
    }
  }
  .formation-continue{
    .content-item-formation{
      &:before{
        content: '';
        background: url(images/bar-formation.png) no-repeat;
        width: 24px;
        height: 195px;
      }
    }

    h4{
      &:before{
        background: url(images/icon-formation-continue.png) no-repeat;
        width: 61px;
        height: 61px;
      }
    }
  }
  p{
    font-size: 15px;
    color: #2e2e2e;
    padding-right: 29px;
  }
  .catalogue{
    background: url(images/bg-catalogue.png) repeat-x;
    border-top: 9px solid $primay-orange;
    width: 359px;
    margin: auto;
    padding-top: 68px;
    margin-left: 71px;
    padding-bottom: 80px;
    p{
      color: #fff;
      font-size: 22.43px;
      padding-left: 23px;
      padding-right: 23px;
      line-height: 26px;
      &:before{
        content: '';
        background: url(images/icon-catalogue.png) no-repeat;
        display: block;
        width: 100px;
        height: 78px;
        margin: auto;
        padding-bottom: 105px;
      }
    }
  }
  .type-formation-continue{
    padding-top: 95px;
    position: relative;
    padding-left: 12px;
    &:before{
      content: '';
      background: url(images/bar-type-formation.png) no-repeat;
      width: 151px;
      height: 198px;
      display: inline-block;
      position: absolute;
      left: -95px;
    }
    h4{
      font-size: 28px;
      padding-bottom: 6px;
      color: #1983de;
      letter-spacing: .3px;
    }
    .type-formation-item{
      width: 70%;
      margin: auto;
      p{
        padding-right: 75px;

      }
      &:nth-child(1){
        p{
          line-height: 16px;
          padding-top: 4px;
        }
      }
      &:nth-child(2){
        p{
          line-height: 17px;
          padding-top: 3px;
          padding-left: 2px;
        }
      }
    }
    .type-formation-item{
      margin-bottom: 64px;
    }
  }
  .etape-formation-right{
    float: left;
    width: 45%;
    padding-top: 64px;
  }
  .nbre-heure-formation{
    width: 365px;
    margin: auto;
    padding-top: 39px;
    clear: both;
    &:after{
      display: block;
      content: '';
      border-bottom: 4px solid $primay-orange;
      width: 67px;
      margin: auto;
      position: relative;
      top: 14px;
      left: 2px;
    }
    p{
      color: #282828;
      font-size: 20px;
      padding-left: 21px;
      line-height: 22px;
    }
    .nbre-hr{
      font-size: 28px;
    }
  }
}
.formation-ludique{
  margin-top: 21px;
  margin-bottom: 38px;
  float: left;
  width: 100%;
  .top-formation-ludique{
    letter-spacing: 1.5px;
    padding-bottom: 100px;
    font-size: 30px;
    color: #191919;
    &:before{
      content:  "\f111";
      font-family: FontAwesome;
      color: $primay-orange;
      font-size: 20px;
      position: relative;
      left: -7px;
      top: -2px;
    }
  }
  .text-formation-ludique{
    padding-left: 88px;
    width: 550px;
    float: left;
    p{
      color: #191919;
      font-size: 16px;
      line-height: 19px;
    }
  }
  .video-formation-ludique{
    width: 358px;
    float: right;
    position: relative;
    img{
      float: right;
      position: relative;
      bottom: 53px;
      left: -79px;
    }
    .video-link{
      left: 50%;
      margin: -27.5px 0 0 -27.5px;
      position: absolute;
      top: 50%;
      opacity: 0.2;
      &:hover{
        opacity: 1;
      }
    }
  }
}
.type-formation-mobile{
  display: none;
}