.push-video.univer {
    background: black;
    height: 209px;
	position: relative;
}
.push-video.univer img{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
   left: 0;
    right: 0;
    margin: auto;
   
}
.bienvenu-france{
background: url(images/bg-bienvenu-fr.png) center 0 no-repeat ;
    background-size: cover !important;
}
.qui-sommes-nous{
    background-size: cover !important;
background: url(images/bg-multinationale-fr.png) center 0 no-repeat ;
}
.attentes-wh{
    background-size: cover !important;
background: url(images/bg-que-cherche-tu-fr.png);
}
.avis-collaborateurs-pays{
    background-size: cover !important;
background: url(images/bg-avis-fr.png) center 0 no-repeat;
}
.conseil-wh-france{
    background-size: cover !important;
background: url(images/Siteweb-E-recrute-WH-fr.png) center 0 no-repeat}
.push-video > img{
    margin: 0 !important;
    width: 100%;
    height: 100%;}
	.img-bien-etre{
	width: 431px;
    height: 267px;
	
	}
	
.img-bien-etre img{
    width: 100% !important;
    height: 100% !important;

}
.box-fun-france .box-fun-hover .img-fun{
    height: 276px;
}
.box-fun-france .box-fun-hover .img-fun img{
    width: 100% !important;
    height: 100% !important;
}