#admin-menu,
#admin-menu .dropdown {
    z-index: 9999999999;
}

.top-slide a {
    font-size: 13.87px !important;
}

.top-slide-modele {
    background: url(images/bg-candidature.png) no-repeat;
}

.content-page {
    float: left;
    width: 100%;
}

.top-page-content {
    max-width: 986px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin: auto;
}

.top-page-content .text-content-top {
    color: #454545;
    text-align: center;
    font-size: 20px;
    float: left;
    line-height: 24px;
    width: 100%;
    padding-left: 67px;
    padding-bottom: 128px;
}

.field-name-field-header-image {
    display: none !important;
}

.view-offre-emploi.view-display-id-page .view-filters {
    display: none;
}

.nos-offres-actualites .view-header {
    display: none
}

.conseil .field-name-body p {
    display: block !important;
}

.content-page.conseil .field-name-field-webinar-audio {
    margin: 10px 0 30px !important;
    float: left;
    clear: both;
    width: 100%;
    display: block;
}

.content-page.conseil .field-name-field-webinar-doc {
    width: 100% !important
}

.content-page.conseil .field-name-field-webinar-doc iframe {
    width: 100%;
    height: 580px;
}

.conseil-detail.orange-link a {
    padding: 11px 25px !important;
}

.mediaelement-audio {
    text-align: center !important
}

.container-espace-candidature .info-poste .form-managed-file {
    overflow: visible !important;
}

.container-espace-candidature .info-poste .form-managed-file span.file {
    position: absolute;
    bottom: -22px;
    left: 0;
    display: block !important;
    margin-top: 15px !important;
}

.container-espace-candidature .info-poste .form-managed-file input[type="submit"] {
    display: block !important;
    position: absolute;
    bottom: -25px;
    right: 0;
    width: 50px;
    height: 25px;
    padding: 0;
    min-width: 100px;
    line-height: 25px;
    font-size: 16px;
}

.top-bloc-newsletter .content-newsletter p{
    padding-bottom: 0 !important;
}

.container-espace-candidature .info-poste .form-managed-file {
    height: auto !important;
}

.field-label-above {
    height: 60px;
}

.field-label {
    float: left;
}

.fancybox-overlay-fixed {
    z-index: 999999 !important;
}

.fancybox-opened {
    z-index: 99999999 !important;
}

.espace-candidature.identif .identif-left .social-media {
    display: block !important;
}

.newsletter .form-wrapper label {
    margin-right: 16px;
}

.actu-job .item-offre a {
    width: auto
}

.newsletter .form-required {
    display: none !important;
}

.newsletter .form-wrapper input[type="text"] {
    width: 334px !important;
}

.calendar-calendar td a.reserved {
    background: grey !important;
}

.intro + .view-content {
    width: 100%; 
}

.slider-home #owl-demo li:first-child h2 {
    font-size: 64px !important;
}

#callback-form1 .formline input {
    width: 100% !important;
}

.field-name-field-updated, .field-name-field-statut-callback {
    display: none;
}



#montceau-les-mines .btn-new, #fontenay-le-comte .btn-new{
    top: 156px;
}
.adresses-webhelp .ville img{
    width: 412px;
    margin-left: -59px;
    margin-bottom: 60px;
}
.adresses-webhelp .ville {
    width: 413px !important;
    left: 0 !important;
}

.bien-etre-france .panel-group + .panel-group {
    padding-top: 0px !important;
}

.form-field-name-field-cv-document {
    min-height: 175px !important;
}

#sliding-popup.sliding-popup-top {
    float: left !important;
}

.rse-fr-page .rse-fr-centre .box-rse .box-rse-right .chart + span {
    font-size: 14px;
    line-height: 15px;
    display: block !important;
}
.rse-fr-page .rse-fr-centre .box-rse .box-rse-right .box-rse-right-inner-last .chart + p{
    display: block !important;
}
.container-espace-candidature .group-info-perso > legend, .container-espace-candidature .info-poste label{
    font-size: 21px !important;
}

.etapes-recrutement-portugal #tabcontent3 p:last-child:before {
    content: none; }
.etapes-recrutement-portugal #tabcontent2 p::before {
    content: none; }
.etapes-recrutement-portugal #tabcontent1 p:last-child {
    color: #ff6319; }

.etapes-recrutement {
    z-index: 9999;
}
.get-board {
    background-size:cover !important;
}
#navbar-collapse-2 h2, #block-locale-language h2 {
    display: none;
}
#block-locale-language {
    position: absolute;
    right: 0;
    top: -20px;
}
#block-locale-language li {
    float: left;
}
#block-locale-language li a, #block-locale-language li a:hover{
    color: #ffffff;
    background-color: transparent !important
}
.field-item.even div + p{
    display: block;
	float:left;
	width:65%;
}

.translation_en, .translation_fr, .translation_ro {
	display: none !important
}


.etapes-recrutement .nav-tabs .tab2 {
    position: absolute;
    left: 296px;
}
.etapes-recrutement .nav-tabs .tab3 {
    right: 0;
    position: absolute;
}
.editlink {
	float: right;
}
#block-locale-language select{
	background-color:rgba(255, 255, 255, 0.7);
	border: 1px solid #F5F5F5;
	height: 24px;
	line-height: 24px;
	width: 100px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	float: left
}
#s2id_edit-field-metier-und { 
	width:100%;
}
div#edit-field-type-de-poste {
    display: none;
}
.container-espace-candidature .info-poste .form-managed-file {
	width:  auto !important;
}
.solidarite-france-page .top-text h3 span:nth-child(4) {
    color: #191919;
}
.espace-candidature fieldset#edit-locale {
    display: none;
}
.page-59068, .page-59332 {
  clear: both;
  max-width: 960px;
  margin: 0 auto; }
.page-85 > h2, .page-59068 > h2 , .page-59332 > h2 {
    color: #ff6319 !important;
    font-size: 22px !important;
    letter-spacing: .4px;
    margin: 35px 0;
}
.page-85 .field-item.even, .page-59068 .field-item.even , .page-59332 .field-item.even {
    margin: 50px auto 100px;
    float: left;
}

      
      
.container-espace-candidature.edition .info-poste #edit-field-region {
    margin-top: 0px !important;
}

.form-item, .form-actions {
	margin-top: 0 !important
}
.info-poste .form-item {
	margin-bottom: 28px;
}
.info-poste .form-item:nth-child(1) {
	margin-top: 0 !important
}
.form-item-field-cv-document-und-0 label span {
	font-size:17px;
}
.job-sector .content-job-sector .job-sector-item {
    cursor: pointer;
}

.slide-pages .top-slide {
    max-height: 600px;
}

.page-59089, .page-59090 {
    clear: both;
    max-width: 960px;
    margin: 0 auto;
}

.slide-pages .titre {
    padding: 99px 10px 158px 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-transform: none !important;
}
::-moz-placeholder { /* Firefox 19+ */
  text-transform: none !important;
}
:-ms-input-placeholder { /* IE 10+ */
  text-transform: none !important;
}
:-moz-placeholder { /* Firefox 18- */
  text-transform: none !important;
}


/********************* My custom Style 09/08/2017 *********************/


#edit-keys{
    height: 43px;
    line-height: 41px;
    width: 100%;
    padding-left: 16px;
}

.trouver-emploi #edit-keys{
    height: 50px;
}

.trouver-emploi #edit-combine-1{
    height: 50px;
    line-height: 41px;
    width: 100%;
    padding-left: 16px;
}
.slider-home-portugal .bottom-nav .form-item{
    width: 99% !important;
    float: left;
}

.slider-home form {
    width: 25%;
    margin: 0px auto 93px;
}

.trouver-emploi .form-item {
    width: 95% !important;
}

@media (max-width: 992px)
{
.slider-home form {
    width: 50%!important;
}

.slider-home-portugal .bottom-nav .form-item{
    width: 100%!important
}
}


#newsletter.newsletter .input_img.form-submit {
    border: 0;
    height: 51px;
    border-radius: 0;
    background: #ff6319;
    color: #fff;
    width: 63px;
    background-image: url('images/send.png');
    background-repeat: no-repeat;
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
    background-position: 13px 8px;
}
.slider-home-portugal button {
    height: 44px;
    width: 73px;
}



.issues-link{
    display: none;
}

.feed-icon{
    display: none;
}


#block-simplenews-90 P {
    display: none;
}

#block-simplenews-90 .block-title{
    display: none;
}


#newsletter.newsletter .form-item-mail {
    float: left;
    margin: 0;
}

.form-wrapper .form-group{
    margin-top: 90px;
}


@media (max-width: 1200px)
{
.slider-home-portugal .bottom-nav .form-item {
    width: 50%;
}
}

#newsletter .form-inline.form-wrapper{
    clear: both;
}

#wrapper{
    width: 100%;
}

.slide-pages.recherche .top-slide-offres {
    background-image: none;
    background-color: black;
}