.avantages .content-avantages-item .text-avantages p{
	padding: 0;
}

.etapes-recrutement-portugal h2 {
  padding-bottom: 0 !important;
  margin-bottom: 0; }
  .etapes-recrutement-portugal h2 + p {
    font-size: 18.89px;
    font-weight: 300; }
.etapes-recrutement-portugal .nav-tabs {
  padding-top: 61px !important; }
  /*.etapes-recrutement-portugal .nav-tabs .tab2 {
    left: 350px !important; }
.etapes-recrutement-portugal .etape1 .item-etape-content {
  width: 216px !important; }*/
.etapes-recrutement-portugal #tabcontent2 p:last-child:before {
  content: none; }
.etapes-recrutement-portugal #tabcontent3 p::before {
  content: none; }
.etapes-recrutement-portugal #tabcontent1 p:last-child {
  color: #ff6319; }

.slider-home-portugal p {
  margin-top: -40px !important;
}

div#edit-field-langue-offre {
  width: 48%;
  float: left;
  margin-right: 2%;
}
div#edit-field-secteur {
  width: 48%;
  float: left;
  margin-left: 2%;
}
.container-espace-candidature .group-info-perso > legend, .container-espace-candidature .info-poste label {
  clear: both;
}
div#s2id_edit-field-langue-offre-und, div#s2id_edit-field-secteur-und{
  width:100%;
}
div#edit-field-type-de-poste-und {
  margin-bottom: -30px;
}

.container-espace-candidature .group-info-perso > legend, .container-espace-candidature .info-poste label {
  padding-bottom: 10px !important;
}

.slider-home #owl-demo li h2 {
  font-size: 64px !important;
}

.trouver-emploi form {
  max-width: 869px; }
.trouver-emploi .form-item {
  width: 21.9% !important; }
.trouver-emploi .form-item .select2-container {
  border-radius: 0; }
.trouver-emploi button {
  height: 41px;
  width: 58px; }
.trouver-emploi button i {
  height: 29px;
  position: relative;
  left: 17px;
  top: 5px; }
.trouver-emploi button .icon-search-small {
  background: url(images/s-icon.png) no-repeat; }
.trouver-emploi .select2-container, .trouver-emploi .select2-container .select2-choice {
  height: 41px;
  line-height: 41px; }

  /*************** Custom2 style ***********************/

#views-exposed-form-offre-emploi-page .form-item{
  width: 95%!important;
}